@tailwind base;
@tailwind components;
@tailwind utilities;


.charts-container {
    display: inline-flex;
    width: 90vw;
    min-height: 30vh;

}

.chart-container {
    display: flex;
    align-items: center;
    justify-items: center;
    max-height: 25vh;
    min-width: 40vw;
    margin: 1rem;
}

.chart {
    max-height: 25vh;
    min-width: 40vw;
}

.loading {
    min-width: 40vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.count-container{

}

.count{
    
}