@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(206, 247, 254);
}

.container {
    margin: 0 50px 0 50px;
    max-width: 90vw;
}

/*Navbar */
nav {
    margin-top: 5px;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-heading {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/*display Country name in header*/
.country-display {
    padding: 10px;
    border-radius: 20px;
    max-width: max-content;
    min-width: 150px;
    background-color: aqua;
    /* margin: auto; */
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

/*Loading Div*/
.loading {
    min-width: 40vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Search bar*/
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 20px;
}

input[type="text"] {
    background-color: rgb(206, 247, 254);
    padding: 2px;
    padding-left: 15px;
    min-width: 250px;
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px black;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;

}

input[type="text"]::placeholder {
    color: black;
    padding-left: 15px;
}


input[type="text"]:focus {
    background-color: rgb(206, 247, 254);
    color: black;
    padding-left: 15px;
}

input[type="text"]:focus::placeholder {
    background-color: rgb(206, 247, 254);
    color: black;
    padding-left: 15px;
}


.search-container {
    position: relative;
    display: flex;
}

input[type="text"] {
    padding: 0 12px;
    border-radius: 20px;
}

.dropdown {
    position: absolute;
    right: 20px;

}

.dropbtn {
    position: sticky;
    margin-right: 20px;

    padding: 2px 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    text-shadow: 0px 2px 2px black;
}

.dropdown-content {
    position: relative;
    left: 120px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: calc(100vh/2);
    overflow-x: scroll;
    display: none;
    /* Initially hide dropdown content */
}

.none {
    display: none;
}

.block {
    display: block;
}

/* Display dropdown content when the dropdown button or content is hovered */
.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

/* Style for list items in the dropdown content */
.dropdown-content li {
    color: black;
    background-color: rgb(206, 247, 254);
    text-decoration: none;
    display: block;
}

/* Style for hovered list items in the dropdown content */
.dropdown-content li:hover {
    background-color: rgb(160, 241, 255);
}


/*STYLING FOR DATES*/
.dates-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

input[type="date"] {
    background-color: rgb(206, 247, 254);
    padding: 2px;
    min-width: 180px;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0px 2px 2px 0px black;
    color: rgb(44, 2, 2);
}

input[type="date"]::placeholder {
    color: black;
    padding-left: 15px;
}

input[type='date']:focus,
input[type='date']:focus::placeholder {
    /* Adjust focus styling for placeholder */
    color: black;
    padding-left: 15px;
}



/*Count Stylling*/
.count-container {
    margin-top: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 50px;
}

.count {
    display: flex;
    flex-direction: row;
    min-width: 250px;
    max-width: 250px;
    padding: 2px;
    align-items: center;
}

.count-heading {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    align-self: flex-end;
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px black;

}

.count-number {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-width: 100px;
    max-width: 100px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px black;
    position: absolute;
    margin-left: 200px;
    background-color: white;
}


#cases {
    background-color: rgb(86, 86, 255);
}

#deaths {
    background-color: rgb(255, 34, 34);
}

#recovered {
    background-color: rgb(78, 202, 78);
}



/*Chart Styling*/

.chart-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90vw;
    min-height: 25vh;
    max-height: 30vh;

}

.chart {
    width: 100%;
    max-width: 40vw;
    min-width: 40vw;
    min-height: 25vh;
    margin: 0 10px;

}